.idea/
ac-consumer-tom/mvnw.cmd
ac-consumer-tom/mvnw
ac-consumer-tom/.mvn/wrapper/maven-wrapper.properties
ac-consumer-tom/src/test/
ac-gateway-zuul/mvnw.cmd
ac-gateway-zuul/mvnw
ac-gateway-zuul/.mvn/
ac-gateway-zuul/src/test/
ac-provider-coffee-latte/mvnw.cmd
ac-provider-coffee-latte/mvnw
ac-provider-coffee-latte/.mvn/
ac-provider-coffee-latte/src/test/
ac-provider-coffee-macchiato/mvnw.cmd
ac-provider-coffee-macchiato/mvnw
ac-provider-coffee-macchiato/.mvn/
ac-provider-coffee-macchiato/src/test/

ac-server/src/test/
